
.shifting{
    float:center;
    margin:auto;
    
}
.inp{
    border-radius:20px 20px;
    border:none;
}
.butn{
    margin-right:50px;
    margin:10px;
}
.jus{
    float:center;
    margin:auto;
    width:20rem;
    background:#BF3D04;
    border-radius:50px 50px;
    margin-top:20px;
    height:400px;
}
.cokies{
    height:100px;
    width:200px;
    float:center;
    margin:auto;
    margin-top:10px;
    border:2px solid #000;
    border-radius:20px 20px;
    text-align:center;
    padding:10px;
}